.h1 {
  text-align: center;
  font-size: 70px;
  text-transform: uppercase;
  margin-bottom: 5rem;
}
.main {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: black;
  margin-bottom: 3rem;
  border-radius: 1rem;
  .form {
    display: grid;
    grid-template-columns: repeat(2, minmax(50%, 0));
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;

    p {
      label {
        width: 10rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
        display: flex;
      }

      input,
      select {
        margin-left: 0;
        margin-right: 0;
        padding: 1.3rem 1.2rem 1.3rem !important;
        border-radius: 4px;
        border: 1px solid #ffffff;
        font-family: Futura, sans-serif;
        background-color: white;
        font-size: 16px;
        margin-bottom: 1rem;
        color: #000000;
        width: 15rem;
        -ms-box-sizing: content-box;
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
      }
    }
  }
  .comments {
    label {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 92%;
      font-weight: bold;

      font-weight: bold;
      margin-bottom: 0.5rem;
    }
  }
}

.textarea {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;

  height: 130px;
  padding: 1.3rem 1.2rem 1.3rem;
  font: inherit;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ffffff;
  font-family: Futura, sans-serif;
  background-color: white;
  font-size: 16px;
  margin-bottom: 1rem;
  color: #000000;
}

.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font: inherit;
  cursor: pointer;
  font-weight: bold;

  text-transform: uppercase;
  background-color: #ffffff;
  border: 1px solid gray;
  color: #000000;
  padding: 1rem 3rem;
  border-radius: 4px;
}
.button:hover,
.button:active {
  background-color: #000000;
  border-color: gray;
  color: #ffffff;
}

@media only screen and (max-width: 1200px) {
  .main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-bottom: 5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: black;
    .form {
      display: grid;
      grid-template-columns: repeat(2, minmax(50%, 0));
      justify-content: space-evenly;
      justify-items: center;
      align-content: space-evenly;
      align-items: center;

      p {
        label {
          width: 10rem;
          font-weight: bold;
          margin-bottom: 0.5rem;
          display: flex;
        }

        input,
        select {
          margin-left: auto;
          margin-right: auto;
          padding: 1.3rem 1.2rem 1.3rem;
          border-radius: 4px;
          border: 1px solid #ffffff;
          font-family: Futura, sans-serif;
          background-color: white;
          font-size: 16px;
          margin-bottom: 1rem;
          color: #000000;
          -ms-box-sizing: content-box;
          -moz-box-sizing: content-box;
          box-sizing: content-box;
          -webkit-box-sizing: content-box;
        }
      }
    }
    .comments {
      label {
        display: flex;
        width: 72%;
        font-weight: bold;
        margin-bottom: 0.5rem;
      }
    }
  }
  .textarea {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 130px;
    padding: 1.3rem 1.2rem 1.3rem;
    font: inherit;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ffffff;
    font-family: Futura, sans-serif;
    background-color: white;
    font-size: 16px;
    margin-bottom: 1rem;
    color: #000000;
  }
}

@media only screen and (max-width: 800px) {
  .h1 {
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 5rem;
    margin-top: 2rem;
  }

  .main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    margin-bottom: 5rem;

    .form {
      display: grid;
      padding-left: 1rem;
      grid-template-columns: repeat(2, minmax(50%, 0%));
      justify-content: space-evenly;
      justify-items: center;
      align-content: space-evenly;
      align-items: center;

      p {
        label {
          width: 10rem;
          font-weight: bold;
          margin-bottom: 0.5rem;
        }

        input,
        select {
          width: 80%;
          margin-left: auto;
          margin-right: auto;
          border-radius: 4px;
          border: 1px solid #ffffff;
          font-family: Futura, sans-serif;
          background-color: white;
          padding-left: 0.1rem !important;
          padding-top: 0.2rem !important;
          padding-bottom: 0.2rem !important;
          padding-right: 0 !important;
          font-size: 16px;
          margin-bottom: 1rem;
          color: #000000;
          -ms-box-sizing: content-box;
          -moz-box-sizing: content-box;
          box-sizing: content-box;
          -webkit-box-sizing: content-box;
        }
      }
    }
    .comments {
      label {
        width: 75%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-weight: bold;
        margin-bottom: 0.5rem;
      }
    }

    .textarea {
      width: 80%;
      height: 130px;
      padding: 1.3rem 1.2rem 1.3rem !important;
      font: inherit;
      padding: 0.5rem;
      border-radius: 4px;
      border: 1px solid #ffffff;
      font-family: Futura, sans-serif;
      background-color: white;
      font-size: 16px;
      margin-bottom: 1rem;
      color: #000000;
    }
  }
}
