.button {
  position: absolute;
  margin-top: -4rem;
  right: calc((100% - min(90%, 70rem)) / 2);
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
}

.icon {
  font-size: 2rem;
}

.button:hover,
.button:active {
  color: rgb(0, 0, 0);
  transition: all 0.4s ease-in-out;
}

@media (max-width: 400px) {
  .button {
    position: block;
  }
}
