.actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #000000;
}

.button:hover,
.button:active {
  color: gray;
}

.row {
  display: flex;
  justify-content: flex-start;
  gap: 3rem;
}
