body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(167, 167, 167, 1);
  color: #ffffff;
  min-height: 100vh;
}
